@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Emilys+Candy&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0%;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }
.blog_background{
    background-image: url(assets/background.jpg);
    width: 100%;
    height: 40vh;
 
    overflow: hidden;
    display: flex;

    align-items: center;
    
}
.blog_background h1{
  font-size: 45px;
  text-transform: capitalize;

}
.blog_background h5,.blog_background span{
  font-size: 20px;
  font-weight: 600;
}
.blog_background h5::after{
content: "\003E \003E";
  color: black;
position: absolute;
margin-left: 10px;
}
.blogs-container h1{
  font-size: 40px;
  font-family: "Charm", serif;
  text-align: center;
  text-transform: uppercase;
  color: #0e420e;
  font-weight: 900;
  margin-bottom: 20px;
  position: relative;
}
.blogs-container h1::after {
  content: "";
  width:70px;
  height: 3px;
  position: absolute;
  background-color: #0e420e;
bottom:-3px;
left: 46%;
}
.blogs-container img{
height: 250px;
}
.blogs-container .service-data:hover{
  background: snow;
  transform: translateY(-2%);
  transition: all 0.5s ease-in-out;

  
}
.blogs-container h3{
  font-size: 23px;
  font-weight: 600;
 

  color: #c53920;
}
.blogs-container p{
  font-size: 16px;
  font-weight: 500;
  color: #000;
text-align: justify;
}
/*AddBlogs.js*/
.addblog h3{
  font-size: 40px !important;
  font-family: "Charm", serif;
  
  color: #0e420e;
  font-weight: 900;
  
}


/*Blog Details*/
.blog_details img{
box-shadow: 2px 2px 20px #c62509;
}
.blog_details h3{
  font-size: 30px;
  font-weight: 600;
  color: #c62509;
}
.blog_details h5{
  font-size: 20px;
  font-weight: 600;
  color: #0e420e;
}
.blog_details p{
  font-size: 17px;
  margin-top: 10px;
  text-align: justify;
  line-height: 30px;
  letter-spacing: 0.2px;
}
/*posts*/
.posts-main h2{
  font-size: 40px !important;
  font-family: "Charm", serif;
  
  color: #0e420e;
  font-weight: 900;
}
.posts img{
  box-shadow: none;
}
.posts{
  border: 1px solid #000;
}
