@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Emilys+Candy&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0%;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
.contact_background{
    background-image: url(assets/background.jpg);
    width: 100%;
    height: 40vh;
 
   
    display: flex;

    align-items: center;
    
}
.contact_background h1{
  font-size: 50px;
  text-transform: capitalize;

}
.contact_background h5,.contact_background span{
  font-size: 20px;
  font-weight: 600;
}
.contact_background h5::after{
content: "\003E \003E";
  color: black;
position: absolute;
margin-left: 10px;
}
.main-contact h3{
  font-family: "Emilys Candy", serif;
  font-size: 30px !important;
 color:  #02374c;
}
.main-contact p{
  font-size: 18px;
  font-weight: 500;
 
}
.call-container,.email-container,.media-container{
  border: 1px solid transparent;
  box-shadow:  0 8px 16px #00000026;
}
.bi-headset{
  font-size: 60px;
  color:#0000ff;
 
}
.bi-envelope{
  font-size: 60px;
  color: #d87093;
}
.bi-globe{
  font-size: 60px;
  color: #ffd700;
}
.call-container:hover,.email-container:hover,.media-container:hover{
  background-color: #f4e7e7;
}
.enquiry-container .formEnquiry{
  background-color: #e9ecef;
}
.contact-cont input{
  height: 50px;
}
.contact-cont button{
  background-color: #FF4F3C ;
  padding: 5px 10px;
  color: #fff;
  border: 1px solid transparent;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  text-transform: capitalize;
}
.contact-cont button:hover{
  background-color: #2E8B57;
}
.map{
  box-shadow: 0 4px 15px  #FF4F3C;
  
}


